@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../base/fonts" as f;

.button-primary {
  padding: $spacing-md * 0.75 $spacing-md;
  display: inline-block;
  background-color: $color-accent;
  color: $color-white;
  border: none;
  border-radius: 0;
  font-family: $font-family-primary;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
}
