@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../base/fonts" as f;

.product-card {

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: v.$color-white;
  overflow: visible;
  
  img {
     box-shadow: v.$box-shadow-settings;
   display: block;
    width: 100%;
    height: auto;
   }
  &__image-container {
    position: relative;
    padding: 0;
    margin-bottom: v.$spacing-sm;
    background: none; 
    border: none;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    background-color: v.$color-white;
  }
  &__details { 
        display: flex; 
        flex-direction: column;
        flex-grow: 1;
        padding: 0 v.$spacing-sm;
  }

&__tag { 
        position: absolute;
        top: v.$spacing-md;
        left: v.$spacing-md;
        background-color: v.$color-accent;
        color: v.$color-white; 
        padding: 4px 8px;
        font-family: f.$font-family-secondary;
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        z-index: 10; 
        display: none;
    }

  &__content {
    padding: v.$spacing-sm;
  }

  &__name {
    font-family: f.$font-family-primary;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: v.$spacing-sm;
    flex-grow: 1;
    min-height: 4.5rem;
  }

  &__price {
    font-size: 1.25rem;
    font-weight: 700;
    color: v.$color-primary;
    margin-bottom: v.$spacing-sm;
    margin-top: auto;
  }


}
