@use "../base/fonts" as f;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  background: v.$color-white;
  padding: 60px 0;
  width: 100%;
  display: block;
  clear: both;
  font-family: f.$font-family-primary;

  // ======================= BENEFITS =======================
  .benefits {
    position: relative;
    background-color: $benfits-bg-color;
    padding: $spacing-lg * 2 0;
    text-align: center;
    color: v.$color-white;
    overflow: hidden;

    &__title {
      font-size: 2rem;
      margin-bottom: $spacing-lg;
      font-weight: 600;
    }

    &__items {
      display: flex;
      justify-content: center;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 v.$spacing-md;
      gap: v.$spacing-lg;

      @media (max-width: 900px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .benefit {
      flex: 1;
      max-width: 250px;
      text-align: center;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      img {
        width: 70px;
        height: 70px;
        margin-bottom: $spacing-sm;
      }

      p {
        font-size: 14px;
        line-height: 1.4;
        text-align: left;
      }
    }
  }

  .footer__content {
    width: min(1300px, 90%);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  /* LEFT big column */
  .footer__left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  /* grid: 3 equal columns */
  .footer__links-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .footer__column {
    h4 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    ul {
      padding-left: 0;
    }

    li {
      margin-bottom: 10px;
      list-style: none;
    }
  }

  /* Block under the grid */
  .footer__shipping {
    width: 100%;

    h4 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 14px;
    }

    p {
      line-height: 1.6;
      max-width: 600px;
    }
  }

  /* RIGHT side - Contact */
  .footer__contact {
    flex: 1;

    h4 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    p {
      line-height: 1.6;
      margin-bottom: 24px;
    }

    .contact__info {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        line-height: 1.4;
      }

      img {
        width: 18px;
        filter: invert(32%) sepia(88%) saturate(1200%) hue-rotate(308deg)
          brightness(94%) contrast(88%);
      }

      a {
        color: v.$color-accent;
        text-decoration: underline;
      }
    }
  }
}
