@use "../base/fonts" as f;
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  padding-top: 100px;
  background: v.$color-white;
  width: 100%;
  display: block;
  clear: both;
  font-family: f.$font-family-primary;

  // ======================= BENEFITS =======================
  .benefits {
    position: relative;
    background-color: $benfits-bg-color;
    padding: 50px 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    font-family: f.$font-family-secondary;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("../../src/assets/images/footer-vector.svg");
      background-repeat: repeat;
      background-size: 100% calc(100% / 6);
      background-position: top center;
      opacity: 0.2;
      z-index: 1;
    }
    &__inner {
      position: relative;
      z-index: 2;
      max-width: 1360px;
      margin: 0 auto;
      padding: 0 v.$spacing-md;
    }

    &__title { 
      font-size: v.$font-size-base;
      font-weight: 700;
      color: v.$color-white;
      text-align: left;
      margin-bottom: $spacing-lg;
    }

    &__items {
      display: flex;
      justify-content: space-between;
      gap: v.$spacing-lg;
      font-size: v.$font-size-sm;
      font-weight: 500;

      @media (max-width: 900px) {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .benefit {
      flex: 1;
      max-width: 250px;
      text-align: left;
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      @media (max-width: 768px) {
        max-width: 100%;
      }

      img {
        width: 40px;
        height: 40px;
        margin-bottom: 0;
        margin-right: v.$spacing-sm;
      }

      p {
        font-size: v.$font-size-sm;
        line-height: 1.4;
        text-align: left;
        color: v.$color-white;
      }
    }
  }

  h4 {
    font-family: f.$font-family-primary;
    font-size: v.$font-size-sm;
    font-weight: 700;
    margin-bottom: 16px;
  }

  // ======================= Footer  =======================

  .footer__content {
    width: min(1300px, 90%);
    padding: 60px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    font-family: f.$font-family-secondary;
  }

  /* LEFT big column */
  .footer__left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  /* grid: 3 equal columns */
  .footer__links-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .footer__column {


    ul {
      padding-left: 0;
    }

    li {
      margin-bottom: 10px;
      list-style: none;
    }
  }

  /* Block under the grid */
  .footer__shipping {
    width: 100%;

    p {
      line-height: 1.6;
      max-width: 600px;
    }
  }

  /* RIGHT side - Contact */
  .footer__contact {
    flex: 1;

    p {
      margin-bottom: 24px;
    }

    .contact__info {
      padding-top: v.$spacing-lg * 1.5;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
      row-gap: 24px;

      li {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        line-height: 1.4;
      }

      img {
        width: 18px;
        margin-top: 3px;
      }

      a {
        color: v.$color-accent;
        text-decoration: underline;
      }
    }
  }
}
