@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.page-catalog {
  @include m.container();

  .catalog-layout {
    display: grid;
    grid-template-columns: 1fr;

    @include m.respond-to(v.$breakpoint-lg) {
      grid-template-columns: 1fr;
      gap: v.$spacing-lg;
    }

    &__sidebar {
      order: -1;
      margin-bottom: v.$spacing-md;
      .filter-controls {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      @include m.respond-to(v.$breakpoint-lg) {
        order: initial;
      }
    }
  }

  .field {
    &__label {
      font-weight: bold;
      color: v.$color-primary;
      margin-bottom: v.$spacing-xs;
    }

    &__select {
      border: none;
      border-bottom: 1px solid v.$color-gray-light;
      padding: v.$spacing-xs 0;

      cursor: pointer;
      width: 100%;

      &:focus {
        outline: none;
        border-bottom-color: v.$color-primary;
      }
    }
  }
  .filter-controls {
    border-top: 2px solid v.$color-accent;
    padding-top: v.$spacing-md;
    padding-bottom: v.$spacing-md;

    &__grid {
      border-top: 2px solid v.$color-accent;
      padding-top: v.$spacing-md;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      border-bottom: 2px solid v.$color-accent;
      padding-bottom: v.$spacing-md;
      margin-bottom: v.$spacing-md;
      .field__radio {
        border: v.$color-black 1px solid;
        margin: 0;
        display: flex;
        align-items: flex-start;

        &:checked {
          border-color: v.$color-black; // Ensure border is black
        }
      }
    }

    &__action-bar {
      margin-top: v.$spacing-md;
      display: flex;
      gap: v.$spacing-sm;
      justify-content: center;
    }
  }

  .product-grid {
    @include m.product-grid-columns(3);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: v.$spacing-sm;
  margin-top: v.$spacing-lg;
  user-select: none;


  #page-indicator {
    font-weight: bold;
  }
}

.results-count {
  color: v.$color-gray-dark;
  margin-bottom: v.$spacing-md;
}
