@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.page-catalog {
    @include m.container();

   .catalog-layout {
        display: grid;
        grid-template-columns: 1fr;

        @include m.respond-to(v.$breakpoint-lg) {
            grid-template-columns: 250px 1fr;
            gap: v.$spacing-lg;
        }

        &__sidebar {
            order: -1; 
            margin-bottom: v.$spacing-md;

            @include m.respond-to(v.$breakpoint-lg) {
                order: initial; 
            }
        }
    }

   .filter-controls {
        &__grid {
            @include m.flex-grid(v.$spacing-sm);

           .field {
                @include m.flex-col(12);
            }

            @include m.respond-to(v.$breakpoint-md) {
               .field {
                    @include m.flex-col(6); // 2 columns for smaller inputs
                }
            }
        }
        &__action-bar {
            margin-top: v.$spacing-md;
            display: flex;
            gap: v.$spacing-sm;
           .button {
                flex-grow: 1;
            }
        }
    }

   .product-grid {
        @include m.flex-grid(v.$spacing-md);

       .product-card {
            @include m.flex-col(6); // 2 columns by default

            @include m.respond-to(v.$breakpoint-md) {
                @include m.flex-col(4); // 3 columns on mid-sized screens
            }

            @include m.respond-to(v.$breakpoint-lg) {
                @include m.flex-col(3); // 4 columns on large screens
            }
        }
    }
}