// Colors
$primary-color: #000;
$accent-color: #b92770;
$secondary-text-color: #504e4a;
$border-color: #727174;
$footer-bg-color: #f9f9f9;
$benfits-bg-color: #504e4a;
$hero-bg-color: #E7E8E9;


// Font Sizes

$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;

$line-height-base: 1.5;
$line-height-sm: 1.4;

// Spacing
$spacing-unit: 8px;


$spacing-sm: $spacing-unit * 2; // 16px
$spacing-md: $spacing-unit * 4; // 32px
$spacing-lg: $spacing-unit * 6; // 48px

